body {
    background-color: rgb(18, 3, 75);
}

#htitle {
    margin: auto;
    text-align: center;
}

#wrapper {
    width: 800px;
    margin: auto;
    border: solid thin black;
}

#gamestate {
    text-align: center;
    color: red;
}